@page "/"
<MudContainer Class="pink lighten-4">
    <h1 style="text-align: center">EXPLOCIÓN DE SABORES</h1><br /><br />

    <h3 style="text-align:center"> Mision </h3><br />
    <p style="text-align:center">
        Explocion de sabores es una heladeria que se dedica a la produccion y comercializacion <br />
        de helados dentro de los estandares de calidad satisfaciendo las espectativas de nuestros<br />
        clientes y colaboradores, creciendo de forma sostenia, con un equipo humano motivado con <br />
        solidos principios éticos orientados al servicios.

    </p><br /><br />

    <h3 style="text-align:center"> Vision</h3><br />
    <p style="text-align:center">
        Exploción de sabores tiene como viosión para un futuro ser la heladería preferida de los <br />
        ciudadanos y ser reconocido a nivel nacional mediante la fabricación y comercialización <br />
        de helados de excelente calidad, precios justos y servicio para brindarlos una total <br />
        satisfacción a todos nuestros clientes.
    </p>

</MudContainer>

    



    <!-------<SurveyPrompt Title="How is Blazor working for you?" /><---->
